.App {
  text-align: center;
  background-color: #f5f5f5;
  color: #173fb9;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
